<div class="tab-pane fade" id="password-tab-pane" role="tabpanel" aria-labelledby="password-tab" tabindex="0">
    <h6 class="mb-4">Password</h6>

    <form class="custom-form password-form" action="#" method="post" role="form">
        <input type="password" name="password" id="password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="Current Password" required="">

        <input type="password" name="confirm_password" id="confirm_password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="New Password" required="">

        <input type="password" name="confirm_password" id="confirm_password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="Confirm Password" required="">

        <div class="d-flex">
            <button type="button" class="form-control me-3">
                Reset
            </button>

            <button type="submit" class="form-control ms-2">
                Update Password
            </button>
        </div>
    </form>
</div>
