{% extends 'baseprofile.html.twig' %}

{% block title %}User Bids{% endblock %}

{% block myarticlesbids %}
    <table class="custom-block custom-block-exchange">
        <thead>
        <tr class="d-flex align-items-center border-bottom pb-3 mb-3" >

            <th class="ms-auto me-4">
                <small> bidder </small>
            </th>
            <th class="ms-auto me-4">
                <small>Bid Date</small>
            </th>

            <th class="ms-auto me-4">
                <small>Prix bid</small>
            </th>
        </tr>
        </thead>
        <tbody>
        {% if articlesWithBids is empty %}
            <p>vide</p>
        {% endif %}
        {% for bid in articlesWithBids %}
            <tr class="d-flex align-items-center border-bottom pb-3 mb-3">
                <td class="ms-auto  " >
                    <h6>{{ bid.user }}</h6>
                </td>
                <td class="ms-auto  " >
                    <h6>{{ bid.bidingdate ? bid.bidingdate|date('Y-m-d') : '' }}</h6>
                </td>
                <td class="ms-auto ">
                    <h6>{{ bid.bidingprice }}</h6>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
