{% extends 'base.html.twig' %}

{% block title %}New Bid{% endblock %}

{% block body %}
    <h1>Create new Bid</h1>

    {{ include('bid/_form.html.twig') }}

    <a href="{{ path('app_bid_index') }}">back to list</a>
{% endblock %}
